input {
    workspace-auto-back-and-forth
    keyboard {
        repeat-delay 200
        repeat-rate 25
    }

    touchpad {
        tap
        dwt
        drag false
        natural-scroll
        scroll-method "two-finger"
        click-method "clickfinger"
    }
}

workspace "chat"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
spawn-at-startup "swayidle" "-w"
spawn-at-startup "swaybg" "-i" "/home/erik/Pictures/Wallpapers/greenroom.jpg"
spawn-at-startup "swaybg" "-i" "/home/erik/Pictures/Wallpapers/greenroom.jpg" "--namespace" "backdrop-wallpaper"
spawn-at-startup "qs"
spawn-at-startup "hypridle"

environment {
  CLUTTER_BACKEND "wayland"
  GDK_BACKEND "wayland,*"
  GDK_DPI_SCALE "1"
  GDK_SCALE "1"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  SDL_VIDEODRIVER "wayland"
  GSK_RENDERER "ngl"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  WLR_NO_HARDWARE_CURSORS "1"
  // Force vaapi backend to prevent using the dGPU
  QT_MEDIA_BACKEND "ffmpeg"
  QT_FFMPEG_DECODING_HW_DEVICE_TYPES "vaapi"
  QT_FFMPEG_ENCODING_HW_DEVICE_TYPES "vaapi"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 10000
}

output "eDP-1" {
    mode "2880x1800@120"
    scale 1.85
}

debug {
    render-drm-device "/dev/dri/by-path/pci-0000:65:00.0-render" // iGPU (AMD)
    // ignore-drm-device "/dev/dri/renderD129"
    // ignore-drm-device "/dev/dri/card0"
    honor-xdg-activation-with-invalid-serial
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
   
    background-color "transparent"
 
    default-column-width { proportion 0.5; }

    focus-ring {
	off
        width 4
        inactive-color "#ffffff00"
	active-gradient from="#e2e469" to="#98cb4a" angle=45 relative-to="workspace-view"
    }

    border {
        off
    }

shadow {
        on
        draw-behind-window false
        softness 40
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

prefer-no-csd


window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}
	
clipboard {
    disable-primary
}

config-notification {
    disable-failed
}

hotkey-overlay {
    skip-at-startup
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="bottom-right"
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.3; }
}

window-rule {
    match app-id="kitty"
    open-maximized true
    draw-border-with-background false
}

window-rule {
    match app-id="firefox"
    open-maximized true
}

window-rule {
    // Match Zoom's popups and annotation tools
    match title="^zoom_linux_float_video_window$"
    match title="^Annotation Tool$"
    match app-id="^zoom$" title="^zoom$"
    
    open-floating true
}

window-rule {
    match app-id="wasistlos"
    open-maximized true
    open-on-workspace "chat"
    match at-startup=true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}


binds {
    Mod+Return { spawn "kitty"; }
    Mod+R {spawn "firefox"; }
    Mod+L {spawn "hyprlock";}

    Mod+O repeat=false { toggle-overview; }
    Mod+C repeat=false { close-window; }
    Mod+F repeat=false { maximize-column; }
    Mod+Shift+F repeat=false { fullscreen-window; }

    // Rofi
    Mod+D { spawn "rofi" "-show" "drun"; }
    Mod+0 { spawn "/home/erik/.config/niri/scripts/powermenu.sh"; }
   
    // Audio (PipeWire)
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    // Brightness
    XF86MonBrightnessUp { spawn "brightnessctl" "set" "+5%"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    
    Mod+F1 { spawn "/home/erik/.config/niri/themes/sands.sh"; }
    Mod+F2 { spawn "/home/erik/.config/niri/themes/dark.sh"; }

    Print { screenshot; }    
  
    Mod+Alt+H     { move-column-left; }
    Mod+Alt+J     { move-window-down-or-to-workspace-down; }
    Mod+Alt+K     { move-window-up-or-to-workspace-up; }
    Mod+Alt+L     { move-column-right; }

    Mod+Left       { focus-column-first; }
    Mod+Right      { focus-column-last; }
    Mod+Alt+Left   { move-column-to-first; }
    Mod+Alt+Right  { move-column-to-last; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Alt+1 { move-column-to-workspace 1; }
    Mod+Alt+2 { move-column-to-workspace 2; }
    Mod+Alt+3 { move-column-to-workspace 3; }
    Mod+Alt+4 { move-column-to-workspace 4; }
    Mod+Alt+5 { move-column-to-workspace 5; }
    Mod+Alt+6 { move-column-to-workspace 6; }
    Mod+Alt+7 { move-column-to-workspace 7; }
    Mod+Alt+8 { move-column-to-workspace 8; }
    Mod+Alt+9 { move-column-to-workspace 9; }

}

gestures {
    hot-corners {
	off
    }
}	

