configuration {
    modi: "drun";
    show-icons: true;
    display-drun: "🔍";
    drun-display-format: "{name}";
}

@import "~/.cache/wal/colors-rofi-dark"

window {
    width: 35%;
    transparency: "real";
    orientation: vertical;
    cursor: "default";
    spacing: 0px;
    border: 2px;
    border-color: @border-color;
    border-radius: 10px;
    background-color: @background;
}

mainbox {
    padding: 15px;
    enabled: true;
    spacing: 0px;
    orientation: vertical;
    children: [ "inputbar", "listview" ];
    background-color: transparent;
}

inputbar {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: @background;
    text-color: @foreground;
    children: [ "prompt", "entry" ];
}

listview {
    columns: 1;
    lines: 8;
    spacing: 5px;
    layout: vertical;
    background-color: transparent;
}

element {
    padding: 8px;
    spacing: 10px;
    border-radius: 5px;
    background-color: transparent;
    text-color: @foreground;
}

element selected {
    background-color: @selected-active-background;
    text-color: @background;
}

element-icon {
    size: 24px;
}
