* {
    bg: #1a1b26;
    gold: #d4a373;
    fg: #cdd6f4;
    
    background-color: @bg;
    text-color: @fg;
    border-color: @gold;
}

window {
    width: 30%;
    border: 2px;
    border-radius: 12px;
    padding: 20px;
}

element selected {
    background-color: @gold;
    text-color: @bg;
    border-radius: 6px;
}

element-icon {
    size: 40px;
    padding: 0 10px 0 0;
}
